body {
    font-family: Arial, sans-serif;
    background-image: url('PlanoFundo.jpg');

    text-align: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    color: #abe3ec;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin-top: 60px;
    border-radius: 20px;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 36px;
    background-color: #807c7ca2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #0f0f0f8e;
    transition: transform 0.5s ease;
}

.cell.rotate {
    transform: rotateY(180deg);
}

.cell:hover {
    background-color: #d6c4f7;
}

#message {
    font-size: 20px;
    font-weight: bold;
    color: #abe3ec;
    margin-top: 15px;
}

.cell.winner {
    background-color: #4CAF50;
    color: #07002e;
    border-color: #4CAF50;
}

.cell.tie {
    background-color: #ff9800;
    color: #1a004b;
    border-color: #ff9800;
}

.player-x {
    color: rgb(153, 0, 255); 
    background-color: #b2a2df;
}

.player-o {
    color: rgb(255, 0, 170); 
    background-color: #e7a9cb;
}

button.attpagina {

    display: flex;
    height: 100px;
    width: 100px;
    cursor: pointer; 
}

button {
    height: 80px;
    width: 120px;
    margin-right: 20px;
    margin-left: 15px;
    color: #abe3ec; 
    background-color: #270547a9;
    font-weight: 68;
    border-color: #07002e;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

